# Python 缓存
__pycache__/
*.py[cod]
*.so

# Jupyter 检查点（自动生成的临时文件，忽略）
.ipynb_checkpoints/

# 虚拟环境
.venv/
venv/
env/

# 系统文件
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
20-torch/data/

# 数据集
**/data/
*.tar.gz
*.gz
*.ubyte

# Windows 遗留文件
*:Zone.Identifier
Desktop.ini
Thumbs.db

# Jupyter 缓存
.ipynb_checkpoints/
__pycache__/
*.pyc
